.about__footer {
  margin-top: 110px;
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

@media screen and (max-width: 868px) {
  .about__footer {
    margin-top: 93px;
  }
}

@media screen and (max-width: 767px) {
  .about__footer {
    margin-top: 60px;
  }
}

@media screen and (max-width: 400px) {
  .about__footer {
    grid-template-columns: 1.6fr 3fr;
  }
}
