.text_menu {
  list-style-type: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (max-width: 767px) {
  .text_menu {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }
}
