.header__landing-menu {
  margin: auto 70px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 183px;
}

@media screen and (max-width: 768px) {
    .header__landing-menu{
        margin: auto 30px auto 0 ;
    }
}

@media screen and (max-width: 400px) {
    .header__landing-menu{
        margin: auto 14px auto 0;
    }
}
