.element__circle{
    padding: 1px;
    border: none;
    border-radius: 50%;
    background: white;
    box-shadow: 0 16px 24px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}