.about__short-bar {
  margin: 0;
  padding: 0;
  background: #2be080;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .about__short-bar{
      height: 35px;
  }
}
