.banner__navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: underline;
  width: 276px;
}

@media screen and (max-width: 767px) {
  .banner__navigator{
    width: 214px;
  }
}