.tech__title {
  margin: 90px 0 0 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 868px) {
  .tech__title {
    margin-top: 80px;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 767px) {
  .tech__title {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.04em;
  }
}
