.student__git {
  margin: 99px 0 0 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
}

@media screen and (max-width: 868px) {
  .student__git {
    margin-top: 87px;
  }
}

@media screen and (max-width: 767px) {
  .student__git {
    margin-top: 40px;
  }
}
