.profile__main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 123px;
}

@media screen and (max-width: 768px) {
  .profile__main {
    margin-top: 96px;
  }
}

@media screen and (max-width: 400px) {
  .profile__main {
    margin-top: 80px;
  }
}
