.student__arrow {
  margin-right: 5px;
  width: 18px;
  height: 60px;
  cursor: pointer;
}

@media screen and (max-width: 868px) {
  .student__arrow {
    width: 18px;
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .student__arrow {
    width: 18px;
    height: 28px;
  }
}

@media screen and (max-width: 400px) {
  .student__arrow {
    width: 10px;
    height: 28px;
  }
}
