.header__menu{
    margin: auto 70px auto 0;
    display: flex;
    justify-content: space-between;
    width: 380px;
}

@media screen and (max-width: 868px) {
    .header__menu {
      display: none;
    }
  }