.header__logo{
    cursor: pointer;
    margin: auto 0 auto 70px;
    padding: 0;
    width: 38px;
    height: 38px;
}

@media screen and (max-width: 768px) {
    .header__logo{
        margin: auto 0 auto 30px;
    }
}

@media screen and (max-width: 400px) {
    .header__logo{
        margin: auto 0 auto 14px;
    }
}