.tech__bar {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 868px) {
  .tech__bar {
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 767px) {
  .tech__bar {
    width: 84px;
    height: 57px;
  }
}
