.header__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 30px;
}

@media screen and (max-width: 868px) {
  .header__account {
    height: auto;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 400px) {
  .header__account {
    margin-bottom: 48px;
  }
}
