.profile__footer {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .profile__footer {
    margin-top: 210px;
  }
}

@media screen and (max-width: 400px) {
  .profile__footer {
    margin-top: 379px;
  }
}
