.promo-footer{
    margin: 0;
    padding: 79px 70px 20px 70px;
    background-color: white;
    color: black;
}

@media screen and (max-width: 868px) {
    .promo-footer{
        padding: 58px 30px 20px 30px;
    }
}

@media screen and (max-width: 767px) {
    .promo-footer{
        padding: 79px 10px 10px 10px;
    }
}

@media screen and (max-width: 400px) {
    .promo-footer{
        padding: 70px 10px 10px 10px;
    }
}