.login__top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto 0 auto;
  height: 217px;
}

@media screen and (max-width: 868px) {
  .login__top {
    height: 379px;
  }
}

@media screen and (max-width: 767px) {
  .login__top {
    height: 253px;
    align-items: center;
  }
}
