.tech{
    margin: 0;
    padding: 110px 70px 100px 70px;
    background-color: #F5F5F5;
    color: black;
}

@media screen and (max-width: 868px) {
    .tech{
        padding: 90px 50px;
    }
}

@media screen and (max-width: 767px) {
    .tech{
        padding: 70px 18px;
    }
}

@media screen and (max-width: 400px) {
    .tech{
        padding: 59px 18px;
        background-color: white;
    }
}
