.header__text {
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (max-width: 868px) {
  .header__text {
    margin-bottom: 28px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .header__text {
    margin-bottom: 24px;  
  }
}
